<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>All My Stocks</title>
</head>
<body>
    <a href="/logout" class="button-i"> LOG OUT</a>
    
    <div class="card">
        <img src="images\ideas-01.png" alt="logo" class="slogo">
        <div class="container">
            <h1 class="indexh1">Portfolio</h1>
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Symbol</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% stocks.forEach(function (stock, idx) { %>
                        
                        <td><%= stock.name %></td>
                        <td><%= stock.symbol %></td>
                        <td><%= stock.open %></td>
                        <td><%= stock.high %></td>
                        <td><%= stock.low %></td>
                        <td><%= stock.close %></td>
                        <td><%= stock.volume %></td>
                        <td> 
                            <form class="delete-form" action="/stocks/<%= stock._id %>?_method=DELETE" method="POST">
                                <button class="delete"type="submit">Delete</button>
                                
                            </form>
                            
                            </td>
                            <td>
                                <a href="/stocks/investors/<%= stock._id %>/edit" class="button-s"> EDIT</a>
                            </td>
                    </tr>
                        <% }) %>
                </tbody>
            </table>
            <a href="/investors" class="button-d">Dashboard</a>
            <a href="stocks/new" class="button-d">ADD STOCK</a>
        </div>
    </div>
   
    <footer>

    </footer>
</body>
</html>